.container--documentation {
    margin-top: 60px !important;
    margin-bottom: 60px !important
}

/*input#search {
    height: 36px;
    line-height: 36px;
    margin-top: 1px;
    margin-left: 24px;
    margin-right: 24px;
    font-size: 16px;
    padding: 0 8px;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 6px
}

input#search::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3)
}

input#search::-moz-placeholder {
    color: rgba(0, 0, 0, 0.3)
}

input#search:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3)
}

input#search::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3)
}

input#search::placeholder {
    color: rgba(0, 0, 0, 0.3)
}

input#search:focus {
    background: #fff;
    border: 1px solid #eaeaea;
    outline: none
}

input#search:focus::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5)
}

input#search:focus::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5)
}

input#search:focus:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5)
}

input#search:focus::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5)
}

input#search:focus::placeholder {
    color: rgba(0, 0, 0, 0.5)
}

#search-results .result {
    padding-bottom: 12px;
    padding-left: 60px
}

#search-results .result:first-child {
    padding-top: 24px
}

#search-results .result:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 24px
}

#search-results a span {
    font-size: 18px
}

#search-results p,
#search-results p * {
    font-size: 16px;
    line-height: 24px
}

#search-results .result-body:hover p,
#search-results .result-body:hover p * {
    color: #475058
}*/

ul.docs {
    list-style-type: none;
    line-height: 28px;
    font-size: 18px
}

ul.docs ul {
    margin-bottom: 1.5em;
    list-style: none
}

ul.docs h4 {
    margin-top: .8em;
    color: #475058
}

#doc-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 21px
}

ul.docs span {
    color: #0288F6
}

ul.docs li a {
    font-weight: inherit;
    color: #889198
}

ul.docs li a:hover {
    color: #475058
}

ul.docs li {
    font-weight: 500
}

ul.docs ul li {
    font-weight: normal
}

.container--documentation .container--left_text table {
    border-collapse: collapse;
    margin-bottom: 20px;
    counter-reset: rowNumber
}

.container--documentation .container--left_text p,
.container--documentation .container--left_text ul,
.container--documentation .container--left_text ol {
    padding-right: 100px
}

.container--documentation .container--left_text tr:not(:first-child) {
    counter-increment: rowNumber
}

.container--documentation .container--left_text td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 1em;
    text-align: left;
    float: left;
    color: #58a000
}

.container--documentation .container--left_text table,
.container--documentation .container--left_text tr,
.container--documentation .container--left_text th,
.container--documentation .container--left_text td {
    border: 1px solid #D9DDE1;
    color: #889198
}

.container--documentation .container--left_text th,
.container--documentation .container--left_text td {
    padding: 4px 8px;
    height: 1.6em;
    min-width: 1.2em
}

.container--documentation .container--left_text td {
    text-align: right
}

div.patch {
    -webkit-user-select: none;
    cursor: default;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    color: white;
    margin-top: 24px;
    margin-bottom: 24px;
    background: black;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

div.patch.processor {
    background: #4C4C4C
}

div.patch.consumer {
    background: #007eda
}

div.patch.producer {
    background: #9129d7
}

div.patch.loop {
    background: #58a000
}

div.patch.layer {
    min-width: 240px;
    background: #f5f7f9;
    border-radius: 0;
    margin: 0 0 0 auto
}

div.patch * {
    font-size: 11px;
    line-height: 1.5em;
    font-weight: 600
}

div.patch.layer * {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.6em;
    text-indent: 4px;
    color: #475058
}

div.patch hr {
    clear: both;
    visibility: hidden;
    margin: 2px
}

div.patch ul {
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    list-style: none
}

div.patch ul li span {
    list-style-position: inside;
    color: rgba(255, 255, 255, 0.5);
    margin-right: 8px;
    margin-left: 4px;
}
.checkbox-off {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    margin-left: 8px !important;
    background-color: rgba(255, 255, 255, 0.2);
}

div.patch.unlabeled {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
}

div.patch.unlabeled ul {
    padding: 5px;
    padding-bottom: 4px
}

div.patch h3,
.patch h4 {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 5px 8px;
    font-weight: bold;
    margin: 0
}

div.patch h3 {
    color: #FFFFFF;
    font-size: 14px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

div.patch h4 {
    padding-top: 0px;
    font-size: 10px;
    color: #CCCCCC
}

div.patch.unlabeled h3 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
    background: none;
    padding: 0
}

div.patch.layer h3 {
    font-weight: bold;
    text-align: left;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 4px;
    padding-right: 4px
}

div.patch ul.inputs {
    text-align: left;
    float: left;
    position: relative;
    padding-right: 40px;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0
}

div.patch ul.outputs {
    direction: rtl;
    text-align: right;
    position: relative;
    float: right;
    padding-left: 40px;
    padding-right: 5px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2
}

div.patch ul.outputs li.connected:after,
div.patch ul.inputs li.connected:after {
    opacity: 1
}

div.patch ul.inputs li {
    padding-left: 13px;
    position: relative
}

div.patch ul.inputs li:after,
div.patch ul.outputs li:after {
    content: " ";
    display: block;
    background: white;
    opacity: 0.5;
    border-radius: 6px;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 6px
}

div.patch.layer ul.inputs li:after,
div.patch.layer ul.outputs li:after {
    display: none
}

div.patch ul.outputs li {
    padding-right: 13px;
    position: relative
}

div.patch ul.outputs li:after {
    right: 2px
}

div.patch ul.inputs li:after {
    left: 2px
}

div.patch.layer ul.inputs li {
    padding-left: 0
}

div.patch.layer ul.outputs {
    padding: 8px;
    text-align: left;
    direction: ltr;
    background: white;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.1);
    margin: 4px 6px
}

div.patch.layer ul.outputs:after {
    content: 'Touch';
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0px 4px 1px 0px;
    position: absolute;
    top: -28px;
    right: 0;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.4em;
    border-radius: 2px
}

div.patch.layer ul.outputs li {
    padding-right: 0
}

span.patch-value {
    opacity: .5
}

span.patch-value.flicker {
    -webkit-animation: flicker .25s linear infinite;
    animation: flicker .25s linear infinite
}

span.patch-value.repeating-signal {
    -webkit-animation: flicker 3s linear infinite;
    animation: flicker 3s linear infinite
}

@-webkit-keyframes flicker {
    0% {
        opacity: 0
    }

    50% {
        opacity: 0
    }

    51% {
        opacity: .5
    }

    100% {
        opacity: .5
    }
}

@keyframes flicker {
    0% {
        opacity: 0
    }

    50% {
        opacity: 0
    }

    51% {
        opacity: .5
    }

    100% {
        opacity: .5
    }
}

span.patch-value.repeating-pulse {
    -webkit-animation: pulse 3s 1.5s linear infinite;
    animation: pulse 3s 1.5s linear infinite
}

@-webkit-keyframes pulse {
    0% {
        opacity: .5
    }

    8% {
        opacity: .5
    }

    9% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@keyframes pulse {
    0% {
        opacity: .5
    }

    8% {
        opacity: .5
    }

    9% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

div.patch-container {
    background: #353535;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
    list-style: none
}

@media only screen and (min-width: 768px) {
    div.patch-container {
        overflow-x: scroll
    }
}

div.patch-container>div.patch-block {
    margin-right: 10px
}

div.patch-container>div.patch-block:last-child {
    margin-right: 0
}

@media only screen and (max-width: 768px) {
    ul.patch-container>li:last-child {
        padding-right: 48px
    }
}

div.patch-container .unlabeled {
    margin-top: 38px
}

.patch-container-note {
    background: #353535;
    margin: -24px 0 20px;
    padding: 4px 16px 16px;
    font-size: 14px;
    color: #90949c;
    border-radius: 0 0 4px 4px
}

.patch-container-note a {
    color: white
}

.cable {
    background-color: rgba(255, 255, 255, 0.5);
    top: 10px;
    left: 100%;
    margin-top: 2px;
    margin-left: -12px;
    width: 34px;
    height: 3px;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    -webkit-transform-origin: left center
}

dl {
    font-size: 18px
}

div.inputs {
    width: 50%
}

div.outputs {
    width: 50%
}

.port-descriptions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.port-descriptions .inputs {
    padding-right: 20px
}

.port-descriptions .outputs {
    padding-left: 20px
}

.port-descriptions ol {
    color: gray;
    list-style-position: inside;
    margin-bottom: 1em;
    -webkit-user-select: text
}

.port-descriptions dt {
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 4px
}

.port-descriptions dd {
    display: inline
}

hr {
    background: #eeeeee;
    height: 1px;
    margin: 2em 0;
    border: none
}

.coord-example {
    width: 300px;
    height: 400px;
    background: #eeeeee;
    position: relative;
    margin-bottom: 2em
}

.coord-example .dot {
    width: 10px;
    height: 10px;
    background: #0072ff;
    border-radius: 10px;
    position: absolute
}

.coord-example .label {
    color: #333;
    position: absolute;
    width: 10em;
    padding: 1em;
    font-size: 0.8em
}

.coord-example .dot-left {
    left: -5px;
    text-align: left
}

.coord-example .dot-right {
    right: -5px;
    text-align: right
}

.coord-example .dot-top {
    top: -5px
}

.coord-example .dot-bottom {
    bottom: -5px
}

.coord-example .dot.dot-center-x {
    left: calc(50% - 5px)
}

.coord-example .label.dot-center-x {
    left: calc(50% - 5em);
    text-align: center
}

.coord-example .dot-center-y {
    top: calc(50% - 5px)
}

.coord-example .box {
    position: absolute;
    margin: 5px;
    background: gray;
    padding: 2px;
    color: white
}

.coord-example .box.inset-40 {
    margin: 45px
}

.pivot-example-box {
    padding: 4em
}

.pivot-example {
    position: relative;
    padding-top: 6em
}

.pivot-example .item {
    position: absolute;
    left: calc(50% - 0.5 * 4em);
    top: calc(0px);
    color: white;
    text-align: center;
    background: #edeeed;
    -webkit-animation: spinny 6s ease-in-out infinite;
    width: 4em;
    height: 4em;
    padding-top: 1.3em;
    float: left
}

.pivot-example .label {
    bottom: -10px;
    text-align: center
}

.pivot-example:after {
    content: '';
    position: absolute;
    left: calc(50% - 0.5 * 10px);
    top: calc(4em * 0.5 - 0.5 * 10px);
    width: 10px;
    height: 10px;
    background: #0072ff;
    border-radius: 10px
}

.pivot-example.pivot-top-left:after {
    left: calc(50% - 0.5 * 4em - 0.5 * 10px);
    top: calc(0em - 0.5 * 10px)
}

.pivot-example.pivot-center-right:after {
    left: calc(50% + 0.5 * 4em - 0.5 * 10px);
    top: calc(0.5 * 4em - 0.5 * 10px)
}

.pivot-top-left .item {
    -webkit-transform-origin: 0% 0%
}

.pivot-center-right .item {
    -webkit-transform-origin: 100% 50%
}

@-webkit-keyframes spinny {
    0% {
        -webkit-transform: scale(1) rotate(0deg)
    }

    10% {
        -webkit-transform: scale(1) rotate(0deg)
    }

    50% {
        -webkit-transform: scale(1) rotate(360deg)
    }

    60% {
        -webkit-transform: scale(1) rotate(360deg)
    }

    75% {
        -webkit-transform: scale(0.6) rotate(360deg)
    }

    100% {
        -webkit-transform: scale(1) rotate(360deg)
    }
}

.shortcuts {
    margin-bottom: 40px
}

.shortcuts div.shortcut {
    margin: 0.5em 0
}

.shortcuts div.shortcut dd {
    padding-left: .8em;
    color: black
}

.shortcuts div.shortcut p {
    margin: 0
}

h6 {
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 5px;
    padding-top: 15px
}

.container--mobile-docs-navigation {
    display: none
}

.documentation-title {
    display: inline-block
}

.related-content-section {
    padding-top: 56px
}

.related-content-units .related-content-unit {
    margin-bottom: 40px
}

.related-content-units .related-content-unit .unit-title {
    margin-bottom: 20px
}

.related-content-units .list-item {
    margin-bottom: 20px;
    padding-right: 20px
}

.related-content-units .list-item h3 {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 4px;
    margin-top: 0;
    margin-bottom: 0
}

.related-content-units .list-item-text {
    padding: 0 20px
}

.related-content-units .list-item-text p {
    margin-bottom: 0;
    padding-right: 0
}

.related-content-units .example-list-item .thumbnail,
.related-content-units .pattern-list-item .thumbnail {
    width: 120px;
    height: 120px;
    padding: 10px;
    text-align: center;
    border-radius: 4px
}

.related-content-units .example-list-item .thumbnail img,
.related-content-units .pattern-list-item .thumbnail img {
    max-width: 100px;
    max-height: 100px
}

.related-content-units .tutorial-list-item .thumbnail {
    width: 120px;
    height: 80px;
    background-color: #000000;
    background-position: center;
    background-size: cover;
    border-radius: 4px
}

.related-content-units .related-patterns .interaction {
    background-color: #BF2BC5
}

.related-content-units .related-patterns .logic {
    background-color: #B35F00
}

.related-content-units .related-patterns .animation {
    background-color: #028383
}

.related-content-units .related-patterns .layers {
    background-color: #0074C8
}

.related-content-units .related-patterns .scroll {
    background-color: #695DEA
}

.related-content-units .related-patterns .loops {
    background-color: #00856C
}

.related-content-units .related-patterns .utilities {
    background-color: #454ACD
}

@media only screen and (max-width: 1024px) {
    .related-content-units .list-item-button {
        display: none
    }
}

@media only screen and (max-width: 667px) {
    .related-content-units .tutorial-list-item {
        max-width: 480px;
        max-width: 100%
    }

    .related-content-units .tutorial-list-item-text {
        padding: 10px
    }

    .related-content-units .list-item-text {
        padding-right: 0
    }

    .related-content-units .list-item h3,
    .related-content-units h3 {
        font-size: 21px;
        line-height: 30px
    }

    .related-content-units .list-item p {
        font-size: 18px;
        line-height: 26px
    }

    .related-content-units .example-list-item .thumbnail {
        width: 96px;
        height: 96px
    }

    .related-content-units .tutorial-related .tutorial-list-item .thumbnail {
        width: 120px;
        height: 90px
    }
}

@media only screen and (max-width: 424px) {
    .related-content-units .tutorial-list-item p {
        display: block
    }

    .related-content-units .list-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-right: 0
    }

    .related-content-units .list-item>a,
    .related-content-units .list-item .thumbnail {
        width: 100%
    }

    .related-content-units .list-item .thumbnail {
        height: 200px
    }

    .related-content-units .list-item-text {
        padding: 10px 0;
        -ms-flex-item-align: start;
        align-self: flex-start
    }
}

@media only screen and (max-width: 1281px) {

    .container--documentation .container--left_text p,
    .container--documentation .container--left_text ul,
    .container--documentation .container--left_text ol {
        padding-right: 0
    }

    .example-list-button,
    .tutorial-list-item-button {
        display: none
    }
}

@media only screen and (max-width: 1024px) {
    #search-results .result {
        padding-left: 50px
    }
}

@media only screen and (max-width: 667px) {
    #search-results .result {
        padding-left: 0
    }

    input#search {
        margin-top: 6px;
        margin-right: 0
    }

    .container--documentation {
        width: 100%;
        padding: 0 30px;
        margin-top: 30px
    }

    .container--navigation {
        position: relative;
        top: 0;
        margin-bottom: 0px;
        z-index: 1;
        width: 100%;
        background: #ffffff;
        opacity: 0;
        display: none
    }

    .container--category-basics,
    .container--category-workflow,
    .container--category-concepts,
    .container--category-patches,
    .container--category-layers {
        cursor: pointer;
        margin: 12px 0
    }

    .container--category-basics:hover,
    .container--category-workflow:hover,
    .container--category-concepts:hover,
    .container--category-patches:hover,
    .container--category-layers:hover {
        opacity: .7
    }

    .container--basics,
    .container--workflow,
    .container--concepts,
    .container--patches,
    .container--layers {
        display: none
    }

    .container--mobile-docs-navigation {
        display: block;
        border-radius: 6px;
        width: 100%;
        border: 2px solid #BEC2C9;
        z-index: 3;
        padding: 10px 60px 10px 20px;
        position: relative;
        margin-bottom: 30px
    }

    .container--basics-button,
    .container--workflow-button,
    .container--concepts-button,
    .container--patches-button,
    .container--layers-button {
        float: right;
        width: 26px;
        height: 33px;
        top: 0px;
        opacity: .3;
        right: 0;
        background-position: center;
        z-index: -1;
        /*background-image: url(../images/down-arrow.png);*/
        background-repeat: no-repeat;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease
    }

    .mobile-docs-navigation-button {
        position: absolute;
        width: 74px;
        height: 64px;
        top: 12px;
        right: 0;
        background-position: center;
        z-index: -1;
        /*background-image: url(../images/down-arrow.png);*/
        background-repeat: no-repeat;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease
    }

    .close {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    .container--mobile-docs-navigation:hover {
        opacity: .7;
        cursor: pointer
    }

    .container--mobile-docs-navigation h3 {
        color: #889198;
        margin: 0
    }

    .container--mobile-docs-navigation h1 {
        margin-bottom: 0
    }

    .documentation-title {
        display: none;
        padding: 0 60px 0 30px;
        margin-bottom: 70px
    }

    .visible {
        opacity: 1;
        display: inline-block
    }

    .text-content {
        width: 100%
    }
}

@media only screen and (max-width: 424px) {
    .tutorial-list-item p {
        display: block
    }

    .example-list-item,
    .tutorial-list-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-right: 0
    }

    .example-list-item>a,
    .example-list-item .thumbnail,
    .example-list-item .thumbnail img,
    .tutorial-list-item a,
    .tutorial-list-item .thumbnail {
        width: 100%
    }

    .example-list-item .thumbnail,
    .tutorial-list-item .thumbnail {
        height: 200px
    }

    .example-list-text,
    .tutorial-list-item-text {
        padding: 10px 0;
        -ms-flex-item-align: start;
        align-self: flex-start
    }
}

.container--documentation-video {
    width: 100%;
    height: 708px;
    background: white;
    position: relative
}

.container--documentation-video iframe,
.container--documentation-video object,
.container--documentation-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}